<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="dm.xml"/>
    <import resource="zdm.xml"/>
    <import resource="zdmTo.xml"/>
    <import resource="zdmNto.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:spring/parameters.properties</value>
            </list>
        </property>
    </bean>

    <bean id="coefficients" class="ru.ipolynkina.beans.Coefficients">
        <constructor-arg>
            <list>
                <value>KPIWEIGHT</value>
            </list>
        </constructor-arg>
    </bean>

</beans>